<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demonstrações dos códigos</title>
    <link rel="stylesheet" href="/css/barra-menu.css">
    <link rel="stylesheet" href="/css/estilo-base.css">
</head>
<body>
    <nav>
        <button class="menu-icon" id="menu-icon">&#9776;</button>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/historia">História</a></li>
            <li><a href="#">Explicação</a></li>
            <li><a href="#">Gráficos</a></li>
        </ul>
    </nav>
    <canvas id="canvas" width="1920" height="922"></canvas>
    <main class="escolha">
        <div class="menu">
            <h1 class="animated-color">
                Escolha o tipo de lista para demonstrar
            </h1>
            <ul>
                <li><a href="/demonstracao/padrao"><button class="opcoes">Lista padrão</button></a></li>
                <li><a href="/demonstracao/n-valores"><button class="opcoes">Lista de n valores</button></a></li>
                <li><a href="/demonstracao/palavras"><button class="opcoes">Lista de palavras</button></a></li>
            </ul>
        </div>
    </main>

    <script src="/js/script-base.js"></script>
    <script src="/js/barra-menu.js"></script>
</body>
</html>