* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

body {
    height: 100%;
    width: 100%;

    background-color: wheat;
}

main {
    margin-top: 70px;

    text-align: justify;
}

main > * {
    margin: auto;
}

main h1, h2, h3, p, ul {
    padding: 10px;
}

main > h1 {
    font-size: 1.3rem;
    color: darkgoldenrod;
}

main p, li {
    line-height: 1.6rem;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2rem;
    color: darkslategray;
}

h3 {
    font-size: 1.1rem;
    color: darkcyan;
}

p, ul {
    padding: 20px;
}

p:not(.sub-paragrafo, .super-paragrafo), main ul:not(.sub-paragrafo, .sub-lista) {
    width: 80%;
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

.super-paragrafo {
    width: 80%;
    background-color: burlywood;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

.sub-paragrafo {
    width: 80%;
    background-color: burlywood;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
}

.sub-paragrafo {
    position: relative;
}

.sub-paragrafo span {
    width: 90%;
    display: block;
    position: relative;
    margin: auto;
}

li:not(nav li) {
    padding: 5px;
    margin-left: 3em;
}

code {
    display: inline-block;
    width: 100%;
    padding: 10px 0px 10px 0px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

ul.lista-link {
    list-style: none;
}

ul.lista-link a {
    color: black;
    text-decoration: none;
}

ul.lista-link a:hover {
    color: rgb(119, 119, 119);
    text-decoration: underline;
}